@charset "UTF-8";
/* 全站的一些公共样式 */
body,p{ margin: 0; padding: 0;}
audio,canvas,video{display:inline;zoom:1}command,datalist,keygen,mark,meter,progress,rp,rt,ruby,time,wbr{display:inline}[hidden]{display:none}html{color:#333;background:#fff;font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,tr,th,td,hr,menu{margin:0;padding:0}ol,ul{list-style-type:none}h1,h2,h3,h4,h5,h6{font-size:100%}b,strong{font-weight:700}blockquote,pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:\201C \201D \2018 \2019}q:before,q:after{content:''}small{font-size:80%;font-weight:normal}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}ins,a{text-decoration:none}a{color: #333;}a:hover{ color:#F60; text-decoration:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}button,input,select,textarea{font-size:100%;margin:0}button,input{line-height:normal;overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}th{text-align:inherit}abbr,acronym{border:0;font-variant:normal}del{text-decoration:line-through;}address,caption,cite,dfn,em,i,var{font-style:normal;font-weight:400}caption,th{text-align:left}.clearfix:after,.wrap:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix,.wrap{zoom:1}.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden}.wrap,.bc{margin-left:auto;margin-right:auto}article,aside,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,iframe{display:block}img,fieldset,img{border:0}legend,button,input{border:0;padding:0}
.hide-clip{position:absolute !important;clip:rect(1px 1px 1px 1px)}
.hide{ display:none;}
.block{ display:block;}

html{ font-size: 50px;}

body{margin:0;background:#fff;font:12px/22px "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif; min-width:1000px;}
button,input,select,textarea,samp {font-family: "Helvetica Neue", "Arial", "PingFang SC", "Microsoft Yahei", "SimSun", sans-serif;}

div,input,p,textarea,ul,li,dl,dd,dt,section,nav,article,aside,header,footer,address{ box-sizing: border-box;}

.w_1000{ min-width:1000px;}
.wrap{width:1200px; margin:0 auto;}
/* 清除浮动 */
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix,.wrap{*zoom:1;}
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;}

h1,h2{ margin: 50px 0; }
h1{ font-size: 40px;}
h2{ font-size: 32px;}
h3{ font-size: 24px;}
h4{ font-size: 16px;}

/*快捷色值、属性*/
.c_f60{ color:#F60 !important;}
.c_e38{ color:#e38 !important;}
.c_333{ color:#333 !important;}
.c_666{ color:#666 !important;}
.c_999{ color:#999 !important;}
.c_bbb{ color:#bbb !important;}
.orange2{ color:#fd8301 !important;}
.red{ color:red;}
.red2{ color: #cb3837;}
.green{ color: green;}
.green3{ color: #197119;}
.zong3{ color: #9e7c1a;}

.border_no{ border:none !important;}

.pd0{ padding:0 !important;}
.pdb0{ padding-bottom:0 !important;}
.mg0{ margin:0 !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.ml10{ margin-left:10px !important;}
.ml20{ margin-left:20px !important;}
.ml30{ margin-left:30px !important;}
.mt40 { margin-top: 40px !important;}

.mr10{ margin-right: 10px !important;}
.mr20{ margin-right: 20px !important;}
.mr30{ margin-right: 30px !important;}

.fl{ float:left;}
.fr{ float:right;}

.fs12{ font-size: 12px;}
.fs14{ font-size: 14px;}
.fs16{ font-size: 16px;}
.fs20{ font-size: 20px;}
.fs40{ font-size: 40px;}

.text_c{ text-align: center;}
.text_r{ text-align: center;}

.w50{ width: 50px!important;}
.w100{ width: 100px!important;}

.zindex9{ z-index: 9!important; position: relative;}

.btn_text{ color: #1bbc9d; margin-right:15px; cursor: pointer;}

.hr{ 
  border-top: #ddd solid 1px; display: block; width: 100%; margin: 30px 0; padding: 0;height: 0; overflow: hidden;
}

/* 滚动条 */
div::-webkit-scrollbar { width: 6px; height: 6px; }
div::-webkit-scrollbar-track { background-color: #bbb;  border-radius: 3px; }
div::-webkit-scrollbar-thumb { border-radius: 3px;  background-color: #666; }


/*cms公共样式*/
.cms-page{ padding:0 30px 0 230px;}
.cms-main::before{ content: ''; display: block; border-top: #333 solid 1px; margin-top: -1px;}
.cms-page-title{ text-align: center;}

.addarticle-form .el-input{ width: 90%; }

/* 导航部分 */
/* .cms-aside{ float: left; width: 200px; margin-left: -220px;} */
.cms-page{ padding-left: 220px;}
.cms-main{ width: 100%; padding: 0 20px 100px; box-sizing: border-box;}
.cms-main p{ margin-top: 10px; line-height: 24px;}

/* 格式模版 */
h3{font-size: 24px; margin: 50px 0 20px; font-weight: 400;}
h3 span{ font-size: 16px; color: #666; margin-left: 20px;}
h4{ font-size: 16px; margin: 30px 0 10px; font-weight: 400; color: #444;}
h4 span{ font-size: 12px; color: #666; margin-left: 10px;}
.mobile_box,.mobile_box_min{ width: 375px; height: 450px; overflow-y: auto; border: #ddd solid 1px; margin-top: 20px; position: relative;}
.mobile_box_min{ height: 100px;}
.dl_list{
  overflow: hidden;
  padding-left: 70px;
  font-size: 14px;
}
.dl_list dt{ float: left; margin-left: -70px;}
.dl_list dd{ overflow: hidden;}
.dl_list dd a{ float: left; margin-right: 20px;}

/* 代码高亮 */
.pre_box{ overflow-x: hidden; overflow-y: auto; margin-top: 10px; border-bottom: #eee solid 1px;}
.pre_box .syntaxhighlighter{ margin: 0!important;}
.code2{ display: inline-block; color: #5e6d82; background-color: #e6effb; padding: 0 5px; margin: 0 4px; border-radius: 3px; line-height: 20px;}
.pre_box .syntaxhighlighter .red3{ color: rgba(206, 21, 183,1)!important;}


.input{
  height: 32px;
  border-radius:16px;
  border: solid 1px #dde0e0;
  color: #353a3f;
  padding: 0 10px;
}
.btn{
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  background-color: #409eff;
  text-align: center;
  border-radius: 16px;
  border: #409eff solid 1px;
  cursor: pointer;
}