@charset "UTF-8";

.checkbox_label{
  line-height: 0.32rem;
  display: inline-block;
  margin-left: 0.3rem;
  cursor: pointer;
  &:nth-of-type(1){
    margin-left: 0;
  }
  span{
    vertical-align: middle;
    display: inline-block;
  }
  .checkbox_box{
    width: 0.32rem;
    height: 0.32rem;
    box-sizing: border-box;
    border: #ddd solid 1px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    input{
      opacity: 0;
      z-index: -1;
      vertical-align: top;
    }
    .iconfont{
      color: #fff;
      opacity: 0;
      -webkit-transition:all 0.2s linear 0s;
      font-size: 0.24rem;
      line-height: 0.32rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%) scale(0.6);
      font-weight: normal;
    }
  }
  .checkbox_content{
    padding: 0 0.15rem;
    word-wrap:break-word; 
    white-space:pre-wrap;
    line-height: 1.5;
  }
  
}
.isChecked{
  .checkbox_box{
    border-color: #1bbc9d;
    background-color: #1bbc9d;
    .iconfont{
      opacity: 1;
    }
  }
}

.checkbox_disabled{
  cursor: no-drop;
  .checkbox_box{
    border-color: #eee;
    background-color: #f2f2f2;
    .iconfont{
      opacity: 0;
    }
  } 
  
}